@import '_variables';

.recently-played {
  display: flex;
  justify-content: center;
  min-height: 88vh;
  max-width: 1000px;
  margin: 66px auto 24px;

  @media (max-width: $small-breakpoint) {
    margin: 66px 12px 24px;
  }

  &__table {
    margin: 0 $space;
    border-spacing: 0;
    line-height: 1.35;
    width: 100%;
  }

  &__table-header {
    font-size: 18px;
  }

  &__table-row {
    font-size: 16px;
    color: $grey1;
    cursor: pointer;
    border-spacing: 0;

    &:hover {
      background: $grey3;
      color: $white;
    }
  }
}