<div class="recently-played">
  <table class="recently-played__table">
    <tr class="recently-played__table-header">
      <th>Track</th>
      <th>Artist(s)</th>
      <th>Played At</th>
    </tr>
    <tr *ngFor="let track of tracks" class="recently-played__table-row" (click)="onClick(track.uri)">
      <td>{{track.name}}</td>
      <td>{{track.artists | joinArray}}</td>
      <td>{{track.played | localeDate:'DD/MM/YYYY, hh:mm A'}}</td>
    </tr>
  </table>
</div>
<app-loading-spinner *ngIf="loading" fullscreen="true"></app-loading-spinner>
