@import '_variables';

@keyframes slideup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes loadingBar {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}

.error-handle {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  background: $grey4;
  animation-name: slideup;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;


  &__title {
    @extend %heading;
    font-weight: $font-weight--bold;
    padding: $space 0 $space-sm;
  }

  &__message {
    @extend %base;
    font-weight: $font-weight--medium;
    padding-bottom: $space;
  }

  &__loading-bar {
    animation: loadingBar 6s ease forwards;
    height: 4px;
    background: $red;
  }
}
