@import '_variables';

.dashboard {
  min-height: 84vh;
  max-width: 1000px;
  margin: 80px auto 40px;

  &__content-box {
    margin: $space;

    & > h1 {
      font-size: 36px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $space-sm;
  }

  &__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $green;
    color: $white;
    padding: $space-m;
    height: 200px;
    text-decoration: none;

    &:hover {
      background: $light-green;
    }

    & > &-header {
      @extend %heading;
      font-size: 32px;
      font-weight: 700;
    }

    & > &-description {
      @extend %base;
      min-height: 72px;
    }
  }
}