@import '_variables';

.dashboard {
  min-height: 94vh;
  max-width: 1000px;
  margin: $space-l auto;

  &__content-box {
    background-color: $grey4;
    border: 1px solid $white;
    min-height: 200px;

    & > a  {
      display: inline-block;
      border-radius: 999rem;
      padding: 10px 30px;
      background-color: $green;
      border: none;
      color: $white;
      font-size: 14px;
      outline: none;
      margin: 10px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: $light-green;
      }
    }
  }
}