@import '_variables';

.top-artists {
  min-height: 86vh;
  max-width: 1140px;
  margin: 80px auto $space;
  text-align: center;

  @media (max-width: $medium-breakpoint) {
    max-width: 800px;
  }

  &__tabs {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  }

  &__tab-item {
    background: transparent;
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
    color: $grey1;
    border: none;
    border-bottom: 1px solid $grey1;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      border: 1px solid $grey1;
      border-bottom: none;
    }

    &--active {
      border-left: 1px solid $grey1;
      border-right: 1px solid $grey1;
      border-top: 1px solid $grey1;
      border-bottom: none;
    }
  }

  &__leaderboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $space-sm;
    margin-top: $space;
    width: 100%;

    @media (max-width: $small-breakpoint) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__leaderboard-item {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > img {
      width: 100%;
    }
  }
}