@import '_variables';

.login {
  &__group {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
  }

  &__container {
    @include ui-body-font-9;
    padding: $space;
    color: $white;
    text-align: center;
    height: 443px;
    box-sizing: border-box;
  }

  &__logo {
    width: 100%;
    max-width: 224px;
    padding: $space-sm;
  }
}
