<div class="login">
  <div class="login__group">
    <div class="login__container">
      <img
        class="login__logo"
        [lazyLoad]="'assets/img/white-cc.png'"
        [useSrcset]="true"
        alt="ccdesign logo"
        (load)="onImageLoad()"
      />
      <p>
        Log in with your Spotify account to gain access to many useful tools for your music needs.
      </p>
      <app-button description="spotify login button" (clicked)="onClick()">
        Login with Spotify
      </app-button>
    </div>
  </div>
</div>
