@use 'sass:math';

// Disable selection
@mixin disable-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

// No selectable element
.no-selectable {
  @include disable-selection;
}

@mixin responsive-invisible($class) {
  #{$class} {
    display: none !important;
  }
}
