@import '_variables';

 .profile {
  display: block;
  background: $grey4;
  margin-bottom: $space-sm;
  padding-bottom: $space;
  border: 1px solid $white;
  cursor: pointer;

  &:hover {
    background: $grey5;
  }

  &__image {
    display: block;
    margin: 0 auto $space;
    padding-top: $space-m;
    border-radius: 140px;
  }

  &__table {
    @extend %base;
    margin: $space-xs auto;
    width: 305px;

    span {
      display: inline-block;
      text-align: right;
      font-weight: $font-weight--bold;
      width: 108px;
      margin-right: $space-sm;
    }
  }
}