@import '_variables';

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav {
  width: 100%;
  background-color: $grey4;
  border-bottom: 1px solid $white;

  &__navbar {
    display: flex;
    align-items: center;
    padding: $space-sm $space;
  }

  &__logo {
    @extend %heading;
    font-size: $font-size;
    display: flex;
    align-items: center;
    color: $white;
    text-decoration: none;
    margin-right: $space-m;
  }

  &__collapse {
    position: absolute;
    right: 0;
    padding: 0 $space;
    background-color: unset;
    border-color: unset;
    border-style: unset;
    border-image: unset;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    & > img {
      width: 25px;
    }
  }

  &__navbar-items {
    @media (max-width: $small-breakpoint) {
      position: absolute;
      top: 58px;
      left: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;
      background-color: $grey4;
      text-align: center;

      &--hide {
        height: 0;
        transition: height .5s;

        & > a {
          transition: visibility 0s;
          visibility: hidden;
        }
      }

      &--show {
        display: flex;
        height: 160px;
        transition: height .5s;
        border-bottom: 1px solid $white;

        & > a {
          transition: visibility 0s;
          transition-delay: 0.4s;
          visibility: visible;
        }
      }
    }
  }

  &__navbar-item {
    @extend %heading;
    position: relative;
    font-size: $font-size;
    color: $grey1;
    text-decoration: none;
    padding: 0 $space-sm;

    @media (max-width: $small-breakpoint) {
      padding: $space-s $space;
    }

    &--end {
      position: absolute;
      right: 0;
      cursor: pointer;

      @media (max-width: $small-breakpoint) {
        position: relative;
      }
    }

    &.active {
      color: $white;

      &:before {
        content: "";
        position: absolute;
        bottom: -4px;
        height: 2px;
        width: 50%;
        background: $green;

        @media (max-width: $small-breakpoint) {
          content: unset;
        }
      }
    }

    &:focus,
    &:focus-within {
      outline: none;
    }

    &:hover {
      color: $white;
    }
  }
}