@import '_variables';

.login {
  background-color: $black;
  width: 100vw;
  height: 97vh;

  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    padding: 20px;
    border: 1px solid $white;
    color: $white;
    text-align: center;
  }

  &__logo {
    max-width: 200px; 
    max-height: 200px;
    padding: 10px;
  }

  &__cta {
    display: inline-block;
    border-radius: 999rem;
    padding: 10px 30px;
    background-color: $green;
    border: none;
    color: $white;
    font-size: 14px;
    outline: none;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $light-green;
    }
  }
}