@import '_variables';

body[ui-state='login'] .footer {
  position: absolute;
  bottom: 0;
}

.footer {
  @include ui-body-font-11;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  padding: $space-s 0 $space-s 0;
  text-align: center;
}
