@import '_variables.scss';

@import './includes/mixin';
@import './includes/responsive';

body {
  @extend %base;
  background-color: $grey6;
  color: $white;
  margin: 0;
  touch-action: manipulation;
}
