@import '_variables';

.dashboard {
  &__nav {
    display: flex;
    justify-content: flex-end;
    padding: $space;

    .nav {
      &__side-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100px;
        background-color: $black;
        text-align: center;
      }

      &__logo {
        width: 100%;
        height: 100%;
        padding: $space-sm $space;
        box-sizing: border-box;
      }

      &__link {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        width: 100%;

        &-item {
          display: flex;
        }

        a {
          @include ui-body-font-9(light);
          display: flex;
          cursor: pointer;
          width: 100%;
          min-height: 70px;
          padding: $space-s 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-left: 4px solid transparent;
          color: $white;
          text-decoration: none;
          opacity: 0.7;

          img {
            width: 30px;
            height: 30px;
            margin: $space-xs $space-s;
          }

          &.active,
          &:hover {
            border-left-color: $green;
            background-color: $grey5;
            opacity: 1;
          }
        }
      }

      &__github {
        a {
          opacity: 0.7;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  &__main {
    position: relative;
    min-height: 87vh;
    margin: 0 0 0 100px;
  }
}
