<div class="dashboard">
  <div class="dashboard__nav">
    <div class="nav__side-nav">
      <img
        class="nav__logo"
        src="https://localhost:4200/assets/img/white-cc.png"
        alt="ccdesign logo"
      />

      <ul class="nav__link">
        <li class="nav__link-item">
          <a routerLink="profile" routerLinkActive="active" skipLocationChange>
            <img src="assets/img/person.svg" alt="Profile page" />
            <span>Profile</span>
          </a>
        </li>
        <li class="nav__link-item">
          <a routerLink="top-artists" routerLinkActive="active" skipLocationChange>
            <img src="assets/img/mic.svg" alt="Top Artists page" />
            <span>Top Artists</span>
          </a>
        </li>
        <li class="nav__link-item">
          <a routerLink="top-tracks" routerLinkActive="active" skipLocationChange>
            <img src="assets/img/track.svg" alt="Top tracks page" />
            <span>Top tracks</span>
          </a>
        </li>
        <li class="nav__link-item">
          <a routerLink="recently-played" routerLinkActive="active" skipLocationChange>
            <img src="assets/img/cd.svg" alt="Recently played page" />
            <span>Recently played</span>
          </a>
        </li>
      </ul>

      <div class="nav__github">
        <a href="https://github.com/mbeaseley">
          <img class="nav__logo" src="assets/img/github.svg" alt="ccdesign logo" />
        </a>
      </div>
    </div>
    <app-button buttonStyle="secondary" size="small" (clicked)="onLogout()">Logout</app-button>
  </div>

  <!-- dashboard main content/routes -->
  <div class="dashboard__main">
    <router-outlet></router-outlet>
  </div>
</div>
