@import '_variables';

.dashboard {
  &__nav {
    .nav {
      /*--------------------------
      NAV MOBILE STYLING
      ---------------------------*/
      &__top,
      &__bottom {
        position: fixed;
        z-index: 1;

        & > * {
          margin: $space;
        }
      }

      &__top {
        display: flex;
        top: 0;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background: $grey6;

        .nav__logo {
          max-width: 50px;
          max-height: 50px;
        }
      }

      &__bottom {
        background: $black;
        bottom: 0;
        width: 100%;
      }

      /*--------------------------
      NAV DESKTOP/TABLET STYLING
      ---------------------------*/
      &__side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100px;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: $black;
        text-align: center;
        z-index: 1;

        .nav__logo {
          width: 100%;
          padding: $space-sm $space;
          box-sizing: border-box;
        }
      }

      /*--------------------------
      General nav styling
      ---------------------------*/
      &__link {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        @include from(md) {
          flex-direction: column;
        }

        &-item {
          display: flex;

          @include to(md) {
            width: 100%;
          }
        }

        a {
          @include ui-body-font-9(light);
          display: flex;
          cursor: pointer;
          width: 100%;
          min-height: 70px;
          padding: $space-s 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-bottom: 4px solid transparent;
          color: $white;
          text-decoration: none;
          opacity: 0.7;

          @include from(md) {
            border-left: 4px solid transparent;
          }

          @include to(md) {
            border-bottom: 4px solid transparent;
          }

          img {
            width: 30px;
            height: 30px;
            margin: $space-xs $space-s;
          }

          &.active,
          &:hover {
            background-color: $grey5;
            opacity: 1;

            @include from(md) {
              border-left-color: $green;
            }

            @include to(md) {
              border-bottom-color: $green;
            }
          }
        }
      }

      &__github {
        a {
          opacity: 0.7;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &--desktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__main {
    position: relative;

    @include from(md) {
      min-height: 87vh;
      margin: 0 0 0 100px;
    }

    @include to(md) {
      margin-bottom: 80px;
    }
  }
}
